In [ ]:
# Import the library
import pandas as pd

### Pandas creation of at the first dataframe ###
*(rows and columns)*

In [ ]:
df = pd.DataFrame()
df['color'] = ['blue','red','yellow','green']
df['radius'] = [2,4,3,5]
df #show result

# Create a new column
df['diameter'] = df['radius'] * 2
df #output result

# Show only one column (= a serie)
df['color']

# Show only one row. Iloc = integer location
df.iloc[-1] # To show the last row

# Localize if exist, create a new row if does not exist
df.loc['index'] = ['value1', 'value2']

# Add a new row
df.loc[len(df)] = ["value", "value2"]

# Display information about the type of values in the df
df.info()

### Types
*convert*

In [ ]:
# Convert into int
tobeconverted = tobeconverted.astype('int')

# Convert string into datetime
df['string'] = pd.to_datetime(df["string"])

# Convert into str -> select the first character -> convert into int
df['column'].astype(str).str[0].astype(int)

### Time
*display one data of time type value*

In [ ]:
df["new_column"] = df["given_datetime_column"].dt.strftime('%a') 
# %a to display the day (short name), %A for full name of day
# %d
# %y
# %m

# Today's datetime
pd.to_datetime('today')

# Display seconds for a serie
serie.dt.total_seconds() / 60

### Other parts of a dataframe ###

In [ ]:
# Target 'color', 'radius' and 'diameter'
df.columns # Disdplay columns

# Target index of rows
df.index 

# Indication of the shape (how many rows, how many columns)
df.shape
# How many columns
df.shape[1]
# How many rows
df.shape[0]

# Show the number of elements in the dataframe
df.size()

### Calculations ###

In [ ]:
# Smallest element
df['radius'].min()

df['column'].idxmax() # Return the label of the maximum value

# Sum
df['diameter'].sum()

# Average
df['radius'].mean()

# Create calculation with .eval(), example to determine an area of a triangle
# Syntax = df.eval(operation)
df['area'] = df.eval('0.5' * column1 * column2) # columns has been previously determined with pandas loading CSV feature

# Display the new area column
df

# Other examples
## Add
df['add'] = df.eval('column + 1')
## Mesure the time between start and end columns
df['duration'] = df.eval('end - start')
## Use variale
delta = 10
df['with_variable'] = df.eval('colum + @delta')

# Count occurence as a value
df['column'].value_counts() 

# Limit values after comma to 2 digits
.round(2)
# Or
round(value, 2)

# Percentage for a variation 
variance = ((final_value - initial_value) / initial_value) * 100 # (in %)

### CSV ### 
*Comma Separated Values*

*load*

In [ ]:
# Load
Name_doc = pd.read_csv('file.csv')

# Show
Name_doc

*create a csv*

In [ ]:
new_file.to_csv('name.tsv', index=False, sep='\t')

### Merge two files ###

In [ ]:
data1 = pd.read_csv('File1.csv')
data2 = pd.read_csv('File2.csv')

# Merge basing on the first data file, on it's column, ignore excedent column from the second file (left merge)
new_data = data1.merge(data2, 
                       on="column", 
                       how="left",
                       suffixes=('_columnname1', '_columnname2')) # Set new suffixe name for new columns created, by default = column_x, column_y

new_data.dropna() # Remove row with missing values

*asetdd/fusion two dataframes*

In [ ]:
pd.concat([df1, df2])

# Multiple df
df = pd.concat([df0_1, df0_2, df0_3], ignore_index=True)

### Use pandas with matplotlib ###

In [ ]:
# Load the CSV file

# Create a bar chart with columns of the Dataframe
x = df['column_name']
y = df['column2_name']
plt.bar(x, y)

### Filter DataFrame ###
*.query()*

In [ ]:
# First, load a CSV, then filter with .query()
# Syntaxe = data_loaded_from_csv.query('condition')
data = pd.read_csv('filename.csv')
data.query('column > 30')

# Examples
## See the tiniest
data.query('column === column.min()') # Same for max
## Matching a string
data.query('colum == "searched_string"')
# Search this or this integer
result = data.query('value === 1 or value === 2')

# After a query, to display only the first entry
result.head(1)

# Display only one value in a one row / 3 columns dataframe
df.values[0][1] # 0 = The row, 1, the column

*.sort_values*

In [ ]:
df.sort_values(by='column', ascending=True)

*aggregate data using one or more operations*

In [ ]:
# Syntax
df.agg(func=None, axis=0, )

# Examples
# Different functions per column = dict
df.agg({
    'col1': 'sum',         
    'col2': ['mean', 'std'] 
})


# Aggregate one or more column from dataframe1 in a new dataframe2
dataframe2 = dataframe1.groupby('column').agg(
    column1_newname=('dataframe1_columnname', 'max'), # To select the max value
    column2_newname=('dataframe1_columnname2', 'last'), # To select the last value of that group
)
# Sum all columns
df.agg('sum')

# New example
newdf = df.groupby('column').agg(new_column2=('column2', 'max'), new_column3=('column3', 'min')).reset_index()

*.str.contains() to find elemenr containing one word in it (use only on series)*

In [ ]:
df.query('column.str.contains("word")')

*.drop_duplicate*

In [ ]:
df = df.drop_duplicates(subset="name")

*.groupby()*

In [ ]:
# Load the CSV file, and then groupby()
df = pd.read_csv('file.csv')
groups = df.groupby('column')
groups # To display

# Display calculation for each grouped by, according to the other column, the index is the column(1)
series = groups['column2'].mean() 

# If we want to have integered autoincremented index
series.reset_index() # Display the two column, with normal index

# In one line
df.groupby('column')['column2'].mean().reset_index() # group by the column, then select only column2 for each groupby('column') group

### Nan
*dropna*

In [ ]:
df.dropna(subset=["column"])

# Fill Nan with zero
df['column'] = df['column'].fillna('0')

### Index
*reorder index*

In [ ]:
new_index_order = ['index1', 'index2', 'index3']
df = df.reindex(new_index_order)

# Drop the index from a df
df = df.reset_index(drop=True)

*substitute the index by a column*

In [ ]:
df.set_index('column')

### Select subsets

*select multiple rows or columns with df.loc[]*

In [ ]:
# Example
# Group and select max for one column
df.loc[
    df.groupby('groups')['column'].idxmax()
]
# Rows where both conditions are satisfied
df.loc[
    (column1.method()) &
    (column.method()) 
]

# Display specific columns from a df
new_df = df[['column1', 'column2']]

# Put a defaults new element, another for matching entries
array_to_match = ['element1', 'element2']
df['new_column'] = 'default value'  
df.loc[df['existing_column'].isin(array_to_match), 'new_column'] = 'specific value'

*create multiple splits of a non-numeric value having separator*

In [ ]:
# For value type : 02:029:08
splitting = df['duration'].str.split(':', expand=True) # Create a new df where each column contains a split

*refer to a subset previously selected to display it : multiple criterias selection*

In [ ]:
criteria_in_df = df.query('column > 0')
find_within_criteria = criteria_in_df['column'].max()
result = criteria_in_df.query('positive == @find_within_criteria')

### Data manipulation
*Extract an array of data, display a single sentence*

In [ ]:
your_list = ['value1', 'value2', 'value3']
list_names = []
for name in your_list:
    if name not in list_names:
        list_names.append(name)
result = ', '.join(list_names) # Concat

### Modify the DataFrame
*renaming specific columns*

In [ ]:
# Plusieurs colonnes
df = df.rename(columns={
    "oldname1": "newname1",
    "oldname2": "newname2",
    "oldname3": "newname3"
})

# Une colonne
df = df.rename(columns={"oldname": "newname"})

# Modify a recurring string element in values of one column
df['column'] = df['column'].str.replace('%', '')

# Delete multiple columns
columns_to_delete = ['c1', 'c2', 'c3']
df.drop(columns=columns_to_delete)

# Reorder according to one column
new_order = df.sort_values(by=['column'])

### Loops
*for... with iterrows()*

In [ ]:
# Iterate on all rows of a Dataframe 
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Valeurs: {row['colonne']}")