# Volcano Eruptions

Which volcanoes have experienced the longest eruptions?

The dataset `volcanic-eruptions.csv` includes the start and end dates for all volcanic eruptions since 1800, along with each volcano's identification number. For eruptions that are still ongoing as of December 2024, the end date is recorded as December 2024.

This dataset excludes any eruptive pauses shorter than three months. If an eruption resumes after more than three months of inactivity, it is classified as a new eruption.

Note: Volcano Yasur in Vanuatu is not included in this list due to the absence of a clear start date.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

eruptions = pd.read_csv('volcanic-eruptions.csv')
eruptions.head(3)

   volcano_id start_date end_date
0      211020    07-1913  04-1944
1      211020    02-1864  11-1868
2      211020    12-1854  05-1855

### Additional dataset

The dataset `volcano-list.csv` provides detailed information about each volcano, including its name, country, latitude, longitude, and type.

In [12]:
volcanoes = pd.read_csv('volcano-list.csv')
volcanoes.head(3)

,volcano_id,volcano_name,country,volcanic_region_group,volcanic_region,volcano_landform,primary_volcano_type,activity_evidence,last_known_eruption,latitude,longitude,elevation_m,tectonic_setting,dominant_rock_type
0,210010,West Eifel Volcanic Field,Germany,European Volcanic Regions,Central European Volcanic Province,Cluster,Volcanic field,Eruption Dated,8300 BCE,50.170,6.850,600,Rift zone / Continental crust (>25 km),Foidite
1,210020,Chaine des Puys,France,European Volcanic Regions,Western European Volcanic Province,Cluster,Lava dome(s),Eruption Dated,4040 BCE,45.786,2.981,1464,Rift zone / Continental crust (>25 km),Basalt / Picro-Basalt
2,210030,Olot Volcanic Field,Spain,European Volcanic Regions,Western European Volcanic Province,Cluster,Volcanic field,Evidence Credible,Unknown,42.170,2.530,893,Intraplate / Continental crust (>25 km),Trachybasalt / Tephrite Basanite

- Volcanoes erupting in December 2024

In [13]:
# Convert start_date into datetime
eruptions['start_date'] = pd.to_datetime(eruptions['start_date'])

# Display eruptions starting in December 2024
december_eruptions = eruptions.query('start_date == "12-2024"')
december_eruptions

/var/folders/yr/1zq8t0xn47v5vkb50984lgjw0000gp/T/ipykernel_37036/1087599492.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  eruptions['start_date'] = pd.to_datetime(eruptions['start_date'])
/var/folders/yr/1zq8t0xn47v5vkb50984lgjw0000gp/T/ipykernel_37036/1087599492.py:5: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  december_eruptions = eruptions.query('start_date == "12-2024"')

      volcano_id start_date end_date
499       243080 2024-12-01  12-2024
1293      263340 2024-12-01  12-2024
2791      332010 2024-12-01  12-2024

- Volcanoes with the longest eruptions

In [19]:
# Convert end_date into datetime
eruptions['end_date'] = pd.to_datetime(eruptions['end_date'])

# Create duration column
eruptions['duration'] = eruptions.eval('end_date - start_date')

eruptions = eruptions.sort_values(by='duration', ascending=False)
eruptions.head(3)

      volcano_id start_date   end_date   duration
2932      342030 1922-06-01 2024-12-01 37439 days
1575      268010 1933-08-01 2024-12-01 33360 days
12        211040 1934-02-01 2024-12-01 33176 days