# What is the First Day of the Week?

Whether the Gregorian calendar shows Sunday or Monday as the first day of the week depends on where you live.

Do more countries start the week on Sunday or Monday? What about people? What about by continent?

The file `first-day-of-week.csv` shows the first day of the week for each territory. The file `population.csv` shows the population in the year 2020 for each territory in millions, and the file `four-regions.csv` specifies whether each territory is in asia, europe, africa, or the americas.

In [1]:
import pandas as pd
df = pd.read_csv('first-day-of-week.csv')
df.head()

        territory alpha3 first_day   units paper
0     Afghanistan    AFG       sat  metric    A4
1   Aland Islands    ALA       mon  metric    A4
2         Albania    ALB       mon  metric    A4
3         Algeria    DZA       sat  metric    A4
4  American Samoa    ASM       sun  metric    A4

In [2]:
pop = pd.read_csv('population.csv')
pop.head()

  alpha3  population
0    AFG       39.07
1    ALB        2.87
2    DZA       44.04
3    AND        0.08
4    AGO       33.45

In [3]:
regions = pd.read_csv('four-regions.csv')
regions.head()

  alpha3 four_regions
0    AUS         asia
1    BRN         asia
2    KHM         asia
3    CHN         asia
4    FJI         asia

- How many territories show Friday, Saturday, Sunday, and Monday as the `first_day` of the week?

In [4]:
# Count territories according to their first day
monday_count = df.query('first_day == "mon"').value_counts()
friday_count = df.query('first_day == "fri"').value_counts()
saturday_count = df.query('first_day == "sat"').value_counts()
sunday_count = df.query('first_day == "sun"').value_counts()

- How many people start the week on Friday, Saturday, Sunday, and Monday?
	- Hint: This will involve a `merge`.

In [5]:
# Merge first day df with population df
population_first_day = df.merge(pop, on="alpha3", how="inner")

# Monday
monday_count = population_first_day.query('first_day == "mon"')
monday_count_pop = monday_count['population'].sum()

# Friday
friday_count = population_first_day.query('first_day == "fri"')
friday_count_pop = friday_count['population'].sum()

# Saturday
saturday_count = population_first_day.query('first_day == "sat"')
saturday_count_pop = saturday_count['population'].sum()

# Sunday
sunday_count = population_first_day.query('first_day == "sun"')
sunday_count_pop = sunday_count['population'].sum()

- Which of the `four_regions` predominantly start the week on Sunday? On Monday? Are there any regions that are more divided between Sunday and Monday?
	- Hint: This will also involve a `merge`.

In [ ]:
# Merge first day df with regions df
regions_first_day = df.merge(regions, on="alpha3", how="inner")

# Number of regions starting the week by... 
monday_regions = regions_first_day.query('first_day == "mon"')['four_regions'].value_counts()
friday_regions = regions_first_day.query('first_day == "fri"')['four_regions'].value_counts()
saturday_regions = regions_first_day.query('first_day == "sat"')['four_regions'].value_counts()
sunday_regions = regions_first_day.query('first_day == "sun"')['four_regions'].value_counts()

four_regions
europe      46
africa      43
asia        27
americas    15
Name: count, dtype: int64