# People on Banknotes

Whose faces appear on banknotes?

The file `people-on-banknotes.csv` contains data about individuals featured on banknotes from 38 countries. This dataset spans all 22 subregions and sub-subregions of the world, as defined by the United Nations Statistics Division's geoscheme.

It profiles 241 people, detailing their occupations and the year they first appeared on a banknote. Additionally, it includes their year of death — or `NaN` if they were still alive when the dataset was compiled.

Most banknotes were issued after the featured individual’s death. The column `first_death_diff` calculates the difference between the year of their first appearance on a banknote and their year of death (or remains `NaN` if the person was still living at the time of curation).

In [1]:
import pandas as pd

df = pd.read_csv('people-on-banknotes.csv')
df

,country,currency,name,gender,occupation,value,first_appearance,death,first_death_diff,currency_code
0,Argentina,Argentine Peso,Eva Perón,F,Activist,100,2012,1952,60.0,ARS
1,Argentina,Argentine Peso,Julio Argentino Roca,M,Head of Gov't,100,1988,1914,74.0,ARS
2,Argentina,Argentine Peso,Domingo Faustino Sarmiento,M,Head of Gov't,50,1999,1888,111.0,ARS
3,Argentina,Argentine Peso,Juan Manuel de Rosas,M,Politician,20,1992,1877,115.0,ARS
4,Argentina,Argentine Peso,Manuel Belgrano,M,Founder,10,1970,1820,150.0,ARS
...,...,...,...,...,...,...,...,...,...,...
274,Venezuela,Venezuelan Bolivar,Francisco de Miranda,M,Military,200,1968,1816,152.0,VES
275,Venezuela,Venezuelan Bolivar,Simón Rodrigues,M,Educator,20,2007,1854,153.0,VES
276,Venezuela,Venezuelan Bolivar,Ezequiel Zamora,M,Military,100,2018,1860,158.0,VES
277,Venezuela,Venezuelan Bolivar,Rafael Urdaneta,M,Head of Gov't,10,2018,1845,173.0,VES
278,Venezuela,Venezuelan Bolivar,José Félix Ribas,M,Military,5,2018,1815,203.0,VES

### Quick cleaning

The same person can appear on multiple banknotes. Below we drop the `value` column and remove duplicate people.

In [2]:
df = df.drop(columns=['value'])
df = df.drop_duplicates(subset="name")
df

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
0,Argentina,Argentine Peso,Eva Perón,F,Activist,2012,1952,60.0,ARS
1,Argentina,Argentine Peso,Julio Argentino Roca,M,Head of Gov't,1988,1914,74.0,ARS
2,Argentina,Argentine Peso,Domingo Faustino Sarmiento,M,Head of Gov't,1999,1888,111.0,ARS
3,Argentina,Argentine Peso,Juan Manuel de Rosas,M,Politician,1992,1877,115.0,ARS
4,Argentina,Argentine Peso,Manuel Belgrano,M,Founder,1970,1820,150.0,ARS
...,...,...,...,...,...,...,...,...,...
274,Venezuela,Venezuelan Bolivar,Francisco de Miranda,M,Military,1968,1816,152.0,VES
275,Venezuela,Venezuelan Bolivar,Simón Rodrigues,M,Educator,2007,1854,153.0,VES
276,Venezuela,Venezuelan Bolivar,Ezequiel Zamora,M,Military,2018,1860,158.0,VES
277,Venezuela,Venezuelan Bolivar,Rafael Urdaneta,M,Head of Gov't,2018,1845,173.0,VES
278,Venezuela,Venezuelan Bolivar,José Félix Ribas,M,Military,2018,1815,203.0,VES

- What proportion of individuals featured are male versus female?
	- Hint: Use `value_counts(normalize=True)` to calculate percentages.

In [ ]:
# Number of males
males = df.query('gender == "M"').shape[0]
females = df.query('gender == "F"').shape[0]
M_vs_F = males - females

# Alternative
M_vs_F = len(df[df['gender'] == "M"]) - len(df[df['gender'] == "F"])
M_vs_F # Display

135

- Are writers or politicians more commonly depicted?

In [26]:
# Writers VS politicians
Writers = df.query('occupation == "Writer"').shape[0]
Politicians = df.query('occupation == "Politician"').shape[0]
if Writers > Politicians:
    print("Writers are more commonly depicted")
else:
    print("Politicians are more commonly depicted.")

Writers are more commonly depicted

- What percentage of featured individuals are musicians?

In [31]:
# How many musicians
Musicians = df.query('occupation == "Musician"').shape[0]
Musicians_percentage = Musicians / df.shape[0] * 100
Musicians_percentage

4.979253112033195

- What percentage of banknotes were issued before the person’s death?
	- Hint: Look for negative values or NaN in `first_death_diff`.

In [35]:
# Get number of banknotes issued before the death
living = df.query('first_death_diff < 0').shape[0]
living_percentage = living / df.shape[0] * 100
living_percentage

3.7344398340248963

- Who is the oldest historical figure in the dataset?

In [47]:
oldest = df.sort_values('first_appearance', ascending=True).head(1)
oldest

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
258,United States,US Dollar,Thomas Jefferson,M,Founder,1869,1826,43.0,USD

- Which countries feature the oldest historical figures on their banknotes?
	- Hint: Group by country and aggregate the year of death using the median. Sort the results.

In [55]:
countries = df.groupby('country')['first_appearance'].agg('min').sort_values(ascending=True)
countries.head(1)

country
United States    1869
Name: first_appearance, dtype: int64

- What percentage of individuals died at least 100 years before appearing on a banknote?

In [62]:
# Get individuals whom death is > 100 years before the appearance
centenary = df.query('first_death_diff >= 100').shape[0]
centenary_percentage = centenary / df.shape[0] * 100
centenary_percentage

# Simplified
centenary_percentage = len(df[df['first_death_diff'] >= 100]) / len(df) * 100
centenary_percentage

33.19502074688796

- Which individuals appeared on a banknote just one year after their death?

In [64]:
one_year = df.query('first_death_diff == 1')
one_year

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
63,Colombia,Colombian Peso,Gabriel García Márquez,M,Writer,2015,2014,1.0,COP
173,Nigeria,Nigerian Naira,General Murtala Mohammed,M,Head of Gov't,1977,1976,1.0,NGN
190,Philippines,Philippine Piso,Corazon C. Aquino,F,Head of Gov't,2010,2009,1.0,PHP
191,Philippines,Philippine Piso,Manuel A. Roxas,M,Head of Gov't,1949,1948,1.0,PHP