# Solar Eclipses

What is the average duration of total darkness during a total solar eclipse? When did the longest solar eclipse occur?

The file `solar-eclipses.csv` provides information on all solar eclipses from 1901 to 2100, leveraging the ability of scientists to accurately predict the timing and location of future eclipses.

A solar eclipse happens when the Moon moves between the Earth and the Sun, blocking the Sun's light either partially or completely. There are three primary types of solar eclipses:

1. Total Solar Eclipse: The Moon fully covers the Sun, casting a shadow on Earth and revealing the Sun's corona.

2. Partial Solar Eclipse: The Moon obscures only part of the Sun, creating a crescent-shaped appearance.

3. Annular Solar Eclipse: The Moon covers the center of the Sun, leaving a ring-like appearance, known as a "ring of fire," around the edges. This occurs when the Moon is too far from Earth to completely cover the Sun.

The `duration` variable indicates the length of time that the entire moon covers the sun.

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', 1000)
df = pd.read_csv('solar-eclipses.csv')
df

,date,eclipse_type,magnitude,duration,region
0,05-18-1901,Total,1.068,06m29s,"s Asia, Australia, e Africa [Total: Indonesia, N Guinea, Madagascar]"
1,11-11-1901,Annular,0.922,11m01s,"ne Africa, Asia, w Europe [Annular: ne Africa, India, Sri Lanka, se Asia]"
2,04-08-1902,Partial,0.064,NaN,northern Canada
3,05-07-1902,Partial,0.859,NaN,"New Zealand, South Pacific"
4,10-31-1902,Partial,0.696,NaN,"c Asia, e Europe"
...,...,...,...,...,...
439,10-24-2098,Partial,0.006,NaN,Southern Ocean (near Antarctica)
440,03-21-2099,Annular,0.932,07m32s,"Australia, N.Z., Antarctica, N. America [Annular: Central Pacific]"
441,09-14-2099,Total,1.068,05m18s,"Americas, Africa [Total: Canada, U.S., Central Atlantic]"
442,03-10-2100,Annular,0.934,07m29s,"Australia, N. America [Annular: Central Pacific, U.S.]"
443,09-04-2100,Total,1.040,03m32s,"Africa, Antarctica [Total: Central Africa, Madagascar]"

- When did the longest solar eclipse occur? The longest total eclipse?
	- Hint: convert duration to seconds. You can use `str.replace('s', '')` to remove the 's' from the duration values.

In [ ]:
# Delete the final 's'
df['duration'] = df['duration'].str.replace("s", "")

# Extract minutes 
time = df['duration'].str.split('m', expand=True)

# Convert in int
time[0] = time[0].fillna('0').astype(int)  
time[1] = time[1].fillna('0').astype(int)

# Append in df
df[['minutes', 'seconds']] = time

# Total seconds
df['total_seconds'] = df["minutes"] * 60 + df['seconds']
max_seconds = df['total_seconds'].max()
max_duration = df.query('total_seconds == @max_seconds')

# Total eclipse
total_eclipses = df.query('eclipse_type == "Total"')
total_eclipses_max = total_eclipses['total_seconds'].max()
longest_total_eclipse = total_eclipses.query('total_seconds == @total_eclipses_max')  

# Results to display
print(f'Longest solar eclipse : \n {max_duration}\n')
print('=========================================')
print(f'Longest total eclipse : \n {longest_total_eclipse}\n')

The longest solar eclipse :
            date eclipse_type  magnitude duration  \
126  12-14-1955      Annular      0.918    12m09

                                                                                                                              region  \
126  c & e Africa, Mid East, Asia, East Indies [Annular: Chad, Sudan, Ethiopia, Somalia, Myanmar, Thailand, Laos, Vietnam, se China]

    duration_clean  minutes  seconds  total_seconds
126          12m09       12        9            729

=========================================
The longest total eclipse :
            date eclipse_type  magnitude duration  \
125  06-20-1955        Total      1.078    07m08

                                                                                                                     region  \
125  e Africa, e Asia, East Indies, n Australia [Total: Sri Lanka, Myanmar, Thailand, Laos, Cambodia, Vietnam, Philippines]

    duration_clean  minutes  seconds  total_seconds
125          07m08        7        8            428

- Show the next 10 solar eclipses?
	- Hint: convert date to datetime.

In [48]:
# Convert date to datetime
df['date'] = pd.to_datetime(df['date'])

# Today's time
today = pd.to_datetime('today')

# Find next eclipses
next_eclipses = df.query('date > @today')
next_eclipses.head(10)

,date,eclipse_type,magnitude,duration,region,duration_clean,minutes,seconds,total_seconds
276,2026-02-17,Annular,0.963,02m20,"s Argentina & Chile, s Africa, Antarctica [Annular: Antarctica]",02m20,2,20,140
277,2026-08-12,Total,1.039,02m18,"n N. America, w Africa, Europe [Total: Arctic, Greenland, Iceland, Spain]",02m18,2,18,138
278,2027-02-06,Annular,0.928,07m51,"S. America, Antarctica, w & s Africa [Annular: Chile, Argentina, Atlantic]",07m51,7,51,471
279,2027-08-02,Total,1.079,06m23,"Africa, Europe, Mid East, w & s Asia [Total:Morocco, Spain, Algeria, Libya, Egypt, Saudi Arabia, Yemen, Somalia]",06m23,6,23,383
280,2028-01-26,Annular,0.921,10m27,"e N. America, C. & S. America, w Europe, nw Africa [Annular: Ecuador, Peru, Brazil, Suriname, Spain, Portugal]",10m27,10,27,627
281,2028-07-22,Total,1.056,05m10,"SE Asia, E. Indies, Australia, N.Z. [Total: Australia, N. Z.]",05m10,5,10,310
282,2029-01-14,Partial,0.871,NaN,"N. America, C. America",NaN,0,0,0
283,2029-06-12,Partial,0.458,NaN,"Arctic, Scandanavia, Alaska, n Asia, n Canada",NaN,0,0,0
284,2029-07-11,Partial,0.230,NaN,"s Chile, s Argentina",NaN,0,0,0
285,2029-12-05,Partial,0.891,NaN,"s Argentina, s Chile, Antarctica",NaN,0,0,0